<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include("./layouts/navbar") %>
    <div>
      <h1>About The Website</h1>
      <p>
        This website is mainly created for giving interested students a simple illustration into how cookies and sessions work.
        Cookies and Sessions are widely used for modifying a users webpage dynamically according to his preferences.We will soon learn that sessions are an upgrade to cookies and hoe sessions also helps in keeping a user logged in.
        A simple authentication app is created to illustrate the same.
      </p>
      <h2>About The Creators</h2>
      <div class="row mb-2">
        <div class="col-md-6">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Ganeshswaminathan R</strong>
              <h3 class="mb-0">Student at Dr Ambedkar Institute of Technology</h3>
              <div class="mb-1 text-muted">20</div>
              <p class="card-text mb-auto">
                Currently in 6th SEM and pursuing B.TECH degree in ECE
              </p>
            </div>
            
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Harsh Sharma</strong>
              <h3 class="mb-0">Student at Dr Ambedkar Institute of Technology</h3>
              <div class="mb-1 text-muted">21</div>
              <p class="card-text mb-auto">
                Currently in 6th SEM and pursuing B.TECH degree in ECE
              </p>
            </div>
           
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Karan J</strong>
              <h3 class="mb-0">Student at Dr Ambedkar Institute of Technology</h3>
              <div class="mb-1 text-muted">20</div>
              <p class="card-text mb-auto">
                Currently in 6th SEM and pursuing B.TECH degree in ECE
              </p>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Hemanth ME</strong>
              <h3 class="mb-0">Student at Dr Ambedkar Institute of Technology</h3>
              <div class="mb-1 text-muted">20</div>
              <p class="card-text mb-auto">
                Currently in 6th SEM and pursuing B.TECH degree in ECE
              </p>
            </div>
            
          </div>
        </div>
       
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
