<% layout("layouts/boilerplate") %>

<div class="container">
  <h1>
    Illustration of Sessions and Cookies using a simple Authentication website
  </h1>
  <a href="/cookie-app"><button type="button" class="btn btn-outline-primary">Cookies App</button></a>
  <a href="/session-app"><button type="button" class="btn btn-outline-primary">Sessions App</button></a>
</div>
