body{
    background-image: linear-gradient(rgb(147, 147, 175),rgb(147, 147, 175));
}

.div1{
    /* color: white; */
   margin: auto;
   width: 70%;
   margin-top: 40px;
   /* padding: 40px; */
}

.div2{
    /* color: white; */
   margin: auto;
   width: 70%;
   margin-top: 40px;
}

/* .div1 > ul{
    margin-top: 5px;
} */


